/* Home.css */
.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text within the caption */
    height: 100%; /* Ensure the caption takes up the full height of the carousel item */
  }
  
  .caption-text {
    font-size: 32px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the font bold */
  }
  
  .second-part {
    font-size: 42px; /* Adjust the font size for the second part */
    font-weight: bold; /* Make the font bold */
  }

.make-appointment-button {
  background-color:  #ff5c8a;;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.make-appointment-button:hover {
  background-color: #dc2380; /* Change the color on hover if desired */
}
  