.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(238, 210, 210);
    color: #fff;
    padding: 1rem 0;
  }
  
  .logo-container {
    flex: 1; /* Let the logo take available space */
  }
  
  .logo {
    width: 200px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    padding: 0;
  }
  
  .link {
    color: gray;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: color 0.3s;
  }
  
  .link:hover,
  .link.active {
    color: #000;
  }
  
  .book-button {
    background-color: pink;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .book-button:hover {
    background-color: lightblue;
  }
  